<%- include ../partials/header %>
<%- include ../partials/categories-navbar %>

<div class="container">
  <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

  <script>
    function generateQRCode(inputId, qrcodeId) {
      const input = document.getElementById(inputId);
      const value = input.value;

      const qrcode = new QRCode(document.getElementById(qrcodeId), {
        text: value,
        width: 128,
        height: 128,
      });
    }
  </script>

  <!-- Flash messages -->
  <!-- User's orders -->
  <div class="row mt-4">
    <div class="col-md-8 m-auto">
      <% if (orders != null && orders.length > 0) { %>
      <h3>My orders</h3>
      <% orders.forEach((order, orderIndex) => { %>
      <div class="card m-3">
        <div class="card-body">
          <p class="card-text ">
            <ul class="list-group">
              <% order.cart.items.forEach((item, itemIndex) => { %>
              <div>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <%= item.title %> | <%= item.qty %> Units
                  <span class="badge badge-info badge-pill"><%= item.up %> / <%= item.down %></span>
                  <input type="hidden" value="<%= item?.v2ray?.url %>" id="connectionstring<%= itemIndex %>" />
                  <div id="qrcode<%= itemIndex %>"></div>
                </li>
              </div>
              <% }) %>
            </ul>
          </p>
        </div>
        <div class="card-footer">
          <strong>Total Price: $<%= order.cart.totalCost %></strong>
        </div>
      </div>
      <% }) %>
      <% } else { %>
      <h3 class="text-center">You have not made any orders yet</h3>
      <% } %>
    </div>
  </div>
</div>

<script>
  // Generate QR codes for each input value
  <% orders.forEach((order, orderIndex) => { %>
    <% order.cart.items.forEach((item, itemIndex) => { %>
      generateQRCode("connectionstring<%= itemIndex %>", "qrcode<%= itemIndex %>");
    <% }) %>
  <% }) %>
</script>

<%- include ../partials/footer %>